<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    
    
      <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <button md-button (click)="goBack()">BACK</button>
      </md-card-actions>  
    </md-card>

  </div>

  <div fxFlex="40" *ngIf="dish">
    <h2> Comments </h2><br/>   
    <md-list>
  <md-list-item *ngFor="let d of dish.comments">
   
    <h1 md-line> {{d.comment}} </h1>
    <p md-line>
      <span> {{d.rating}} stars </span><br>
      <span> -- {{d.author}} {{d.date | date}}</span>
    </p>
  </md-list-item>
</md-list>
  </div>

</div>